/* sidebar.css */
#sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: #dae6f1;
    border-left: 3px solid #007bff;
    z-index: 100000;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    transition: right 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
    box-shadow: -4px 0 6px -3px #333;
}

#sidebar h1, #sidebar h2 {
    color: #007bff;
    margin-top: 0;
    text-shadow: 1px 1px 1px #666;
}

#sidebar h1 {
    font-size: 24px;
    font-weight: bold;
}

#sidebar h2 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px;
}

#sidebar p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-align: justify;
    white-space: pre-wrap;
}

#toggleButton {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 100001;
    padding: 8px 15px;
    background-color: #5c67f2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px #444;
}

#toggleButton:hover {
    background-color: #4048cc;
    box-shadow: 0 2px 6px #333;
}

.quiz-container {
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.quiz-question h3 {
    color: #333;
}

.quiz-question ul {
    list-style-type: none;
    padding: 0;
}

.quiz-question li {
    margin: 8px 0;
    padding: 4px;
    border-radius: 4px;
    background-color: #eef;
    cursor: pointer; /* if you want the items to be selectable/clickable */
}